.Card_box {
  width: 300px;
  height: 150px;
  background-color: rgba(27, 44, 79, 1);
  border-radius: 30px;
}
.topbox {
  display: flex;
  padding: 20px;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 22px;
  border-radius: 15px;
  background-color: rgba(64, 155, 238, 1);
}
.topbox p {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(204, 204, 204, 1);
  margin-left: 10px;
}
.botbox {
  display: flex;
  justify-content: space-evenly;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(171, 239, 235, 1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.title {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.time {
  display: flex;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(220, 220, 220, 1);
}
.date {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(220, 220, 220, 1);
  border-radius: 10px;
  background-color: rgba(44, 58, 88, 1);
  margin-top: 10px;
  padding: 5px 10px;
}
